# Python virtual environments & IDE
.venv/
venv/
__pycache__/
.vscode/

# Audio files
*.wav
*.mp3
*.m4a
*.flac

# Model checkpoints & cache
*.pt
*.bin
*.onnx

# Data & Output JSON files
*.json

# PDF outputs & font downloads
*.pdf
# *.ttf
# !fronts/*.ttf
meeting_summary.txt
meeting_summary.md

# Qdrant Vector DB local storage
qdrant_db/
.env